*{
    margin: 0;
    padding: 0;
}

.header{
    height: 50px;
    background: rgb(6, 108, 125);
    color: white;
}

.header .list-btn{
    display: inline-block;
    float: right;
    padding: 0 10px;
    line-height: 50px;
}

.header a{
    color: rgb(221, 224, 217);
    text-decoration: none;
}

.header a:hover{
    background-color: orange;
    color: white;
}

.dangkythanhvien{
    width: 400px;
    border:  1px solid rgb(69, 67, 67);
    margin-top: 60px;
    margin: 60px auto;
}

.header h3{
    padding-left: 10px;
    display: inline-block;
    text-align:center;
    line-height: 50px;
}

.dangkythanhvien form td,
.dangkythanhvien form input{
    padding: 5px;
}


.dangkythanhvien .submit-btn{
    width: 181px;
}


.list{
    width: 800px;
    margin: 50px auto;
}

.list table{
    width: 800px;
    border: 1px solid rgb(62, 55, 55);
}

.list table td,
.list table th{
    text-align: center;
    border: 1px solid rgb(62, 55, 55);
    padding: 0;
}